body {
    background: #fff;
    padding-top: 70px;
}

#login-form {
    max-width: 500px;
}

.text-danger {
    display: none;
}

.navbar-brand {
    position: absolute;
    left: 0;
    top: 0;
}

#app {
    display: none;
}

.btn-logout {
    margin-right: 10px;
}

.navbar-right {
    float: right !important;
}

.loader {
    width: 100%;
    height: 50px;
    background: url('../images/loading.gif') center center no-repeat;
}

td > div {
    max-height: 495px;
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    font-size: 12px;
}

tr.Moderated {
    background-color: #dff0d8;
}

.table-striped > tbody > tr.Moderated:nth-child(odd) > td {
    background-color: #d9eacf;
}

tr.Deleted {
    background-color: #e4b9b9;
}

.table-striped > tbody > tr.Deleted:nth-child(odd) > td {
    background-color: #deb3b3;
}

.table > tbody td {
    border-bottom: 1px solid #ccc !important;
}

.table > tbody tr.Deleted td {
    border-bottom: 1px solid #666 !important;
}
