body {
    background: #fff;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

#app .navbar-brand {
	padding: 0 15px;
}

#app .navbar-brand img {
	height: 50px;
}

h1, h2, h3 {
	font-weight: 300;
}

h1.logo {
	text-align: center;
	margin: 50px 0 20px;
}

h3 > small + span {
	margin-left: 10px;
}

.centered {
	text-align: center;
}

tr.loader td {
	text-align: center;
}

#app select.form-control {
	width: 120px;
	display: inline-block;
	margin-bottom: 5px;
}

tr.moderated {
	background-color: #dff0d8;
}

.table-striped > tbody > tr.moderated:nth-child(odd) > td {
	background-color: #d9eacf;
}

tr.rejected {
	background-color: #e4b9b9;
}

.table-striped > tbody > tr.rejected:nth-child(odd) > td {
	background-color: #deb3b3;
}

.table > tbody td {
	border-bottom: 1px solid #ccc !important;
}

.table > tbody tr.rejected td {
	border-bottom: 1px solid #666 !important;
}

#filterPanel {
	border: 1px solid #e7e7e7;
	padding: 5px 5px 10px;
	margin: 20px 0;
	border-radius: 3px;
}

#login-form {
	max-width: 500px;
}

#login-form .error {
	padding: 10px;
	border-radius: 3px;
	display: none;
}

.answers {
	border-radius: 5px;
	padding: 10px;
	background: #eee;
	border: 1px solid #ccc;
}

.answers li {
	background: #fefefe;
	list-style: none;
	display: block;
}

.answers li > label {
	font-size: 65px;
	font-weight: 300;
	float: left;
	width: 10%;
	text-align: center;
}

.answers li > div {
	margin-left: 110px;
}

.answers h4 {
	font-size: 20px;
	padding-top: 8px;
	font-weight: 300;
}

.answers p {
	height: 30px;
	width: 70%;
	line-height: 30px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: inline-block;
	float: left;
}

.answers p + label {
	width: 10%;
	color: #000;
	line-height: 30px;
	display: inline-block;
	font-weight: normal;
	margin-left: 10px;
}

.answers .bar {
	display: block;
	width: 20px;
	height: 29px;
	background: #428bca;
	transition: width 0.2s;
	-webkit-transition: width 0.2s;
}

.votes-count {
	text-align: right;
}

#answers-rows label {
	padding-top: 2px;
}

.has-success .form-control {
	-webkit-box-shadow: inset 0 0 5px #3c763d;
	box-shadow: inset 0 0 5px #3c763d;
}

.has-error .form-control {
	-webkit-box-shadow: inset 0 0 5px #a94442;
	box-shadow: inset 0 0 5px #a94442;
}

.presenters li {
	list-style: none;
	height: 200px;
}

.presenters .form-control {
	padding: 3px 12px;
	height: auto;
}

.presenters li img {
	height: 150px;
	display: block;
	float: left;
	margin-right: 10px;
}

.presenters li div {
	float: left;
}

.presenters li div h3 {
	margin-top: 5px;
}

.presenters li p {
	margin-bottom: 5px;
}

.presenters li p label {
	display: inline-block;
	width: 80px;
}

.presenters li p label:after {
	content: ':';
}

.presenters li .buttons {
	margin-top: 15px;
}

.presenters li .btn-save {
	display: none;
}

.presenters li input {
	width: 300px;
	display: none;
}

#upload-image {
	width: 150px;
	height: 150px;
	background: #ccc;
	display: block;
}

#upload-image p {
	font-size: 14px;
	text-align: center;
	width: 150px;
	height: 150px;
}

#upload-image.dragover {
	outline: 2px dashed #999;
}

#upload-image img {
	display: block;
	width: 150px;
	height: 150px;
	border: 2px solid #333;
}

.new-presenter {
	margin-bottom: 40px;
	width: 400px;
}

.schedule {
	display: none;
}

.schedule-items {
	border-top: 0;
	display: none;
}

.schedule-items .delay {
	font-size: 12px;
	font-weight: normal;
}

.schedule-item {
	position: relative;
	min-height: 80px;
}

/*.schedule-item .close, .schedule-item .add-delay, .schedule-item .edit-schedule-item {
	visibility: hidden;
}

.schedule-item:hover .close, .schedule-item:hover .add-delay, .schedule-item:hover .edit-schedule-item {
	visibility: visible;
}*/

.schedule-item h4, .schedule-item h5 {
	margin-top: 0;
}

.schedule-item h5 .remove {
	vertical-align: super;
	padding-left: 5px;
	padding-right: 10px;
	font-weight: normal;
}

textarea {
	resize: none;
}

.create_new_item {
	display: none;
}

.create-schedule-item {
	margin-top: 20px;
}

.buttons-centered {
	width: 200px;
}

td.message-date {
	text-align: center;
}

.delete-poll {
	text-align: right;
}

.delete-poll button {
	display: inline-block;
}